table {
    border-collapse: collapse;
}
  
th {
    text-align: center;
    padding: 5px 5px 5px 5px;
}
  
td {
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.table {
    padding: 2% 5% 0 5%;
    width: 90%;
    display: flex;
    justify-content: center;
}

.border-right {
    border: 1px solid black;
}